<% if @user.errors.any? %>
	<div id="error_explanation">
		<h2>Informe corretamente os dados solicitados</h2>
	</div>
<% end %>

<%= form_for @user do |f| %>
	<p>
		<%= f.label :nome %> 
		<%= f.text_field :nome %>
		<%= error_tag @user, :nome %>
	</p>
	<p>
		<%= f.label :email %> 
		<%= f.text_field :email %>
		<%= error_tag @user, :email %>
	</p>
	<p>
		<%= f.label :password %>
		<%= f.password_field :password %>
		<%= error_tag @user, :password %>
	</p>
	<p>
		<%= f.label :password_confirmation %> 
		<%= f.password_field :password_confirmation %>
		<%= error_tag @user, :password_confirmation %>
	</p>
	<p>
		<%= f.submit %>
	</p>

<% end%>